python-dotenv
pandas
numpy
setuptools
scikit-learn
dill
flask
streamlit
fastapi
dotenv
langchain_google_genai
pydantic
pinecone[grpc]
google-generativeai
vertexai
langchain-pinecone
langchain
fastapi 
uvicorn 
-e .